
.contenVs{

	text-align: center;
}

.contenFigure {

	margin:20px;
	cursor: pointer;
}

.contentGame:hover {
	
	border: 1px dashed #000;
	
}
.resultOn{

	display: block;
}
.resultOff{
	display: none;
}

.centerM{

	margin: 0 auto;
}